---
import Sun from "../assets/svgs/sun.svg";
import Moon from "../assets/svgs/moon.svg";
---
<button id="dark-mode-toggle" aria-label="dark mode toggle"  aria-pressed="false">
	<Moon class="cs-moon" />
	<Sun class="cs-sun" />
  </button>

  <script>
    // helper function to toggle aria-pressed
    function ariaPressed(element) {
    const isPressed = element.getAttribute('aria-pressed');
    element.setAttribute('aria-pressed', isPressed === 'false' ? 'true' : 'false');
}
    // Creates the dark mode toggle event listener
    const setToggleListener = () => {
      const darkModeToggleButton = document.getElementById('dark-mode-toggle')
      const handleToggleClick = () => {
        
        document.body.classList.toggle("dark-mode");
        ariaPressed(darkModeToggleButton)
        const isDark = document.body.classList.contains("dark-mode");
        localStorage.setItem("theme", isDark ? "dark" : "light");
      };
  
      darkModeToggleButton?.addEventListener("click", handleToggleClick);
    };
  
    setToggleListener();
  
    document.addEventListener("astro:after-swap", setToggleListener); // For View Transitions purposes - astro:after-swap ensures that the listener is re-attached after navigating to a new page.
  </script>