---
---

<!-- ============================================ -->
<!--                   Quote                      -->
<!-- ============================================ -->

<section id="quote-560">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">WHAT WE DO</span>
            <p class="cs-quote">
                Your job is to deliver world-class solar installations. Ours is to make sure the right clients find you, trust you, and choose you — before they even pick up the phone.
            </p>
            <span class="cs-name">We Handle the Marketing. You Handle the Installations.</span>
        </div>
    </div>
</section>

</section>

<style lang="less">
/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-560 {
        padding: var(--sectionPadding);
        background-color: #ffffff;
        margin-top: clamp(14rem, 20vw, 30rem);


        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-topper {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: 0.1em;
            font-weight: 700;

            margin-bottom: (4/16rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (24/16rem);

            &:before {
                /* yellow line */
                content: "";
                width: (50/16rem);
                height: 2px;
                background: var(--secondary);
                opacity: 1;
                display: block;
            }
        }

        .cs-quote {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 5.1vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;

        }

        .cs-name {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.7vw, 1.25rem);
            line-height: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            color: var(--secondary);
            display: block;
            letter-spacing: 0.01em;
        }
    }
}


</style>